/**************** colors ****************/
/**************** background-colors ****************/
/**************** fonts ****************/
/**************** assets ****************/
/**************** media queries ****************/
/**************** general reset ****************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ubuntu", sans-serif;
}

/**************** display ****************/
.hide {
  display: none;
}

.active {
  display: block;
}

/**************** colors ****************/
/**************** background-colors ****************/
/**************** fonts ****************/
/**************** assets ****************/
/**************** media queries ****************/
/**************** header ****************/
header {
  background-image: url("/assets/images/learning.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /**************** header-overlay ****************/
}

header .header-overlay {
  width: 95%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /**************** navigation ****************/
  /**************** contenu du header ****************/
}

header .header-overlay .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

header .header-overlay .menu .menu-item {
  min-width: 200px;
  text-align: center;
  color: #fff;
  background-color: #219482;
  padding: 1rem 0;
}

header .header-overlay .menu .menu-item a {
  text-decoration: none;
}

header .header-overlay .container-header {
  margin: auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .header-overlay .container-header .title {
  padding: 10px;
  color: #219482;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

header .header-overlay .container-header .sub-title {
  padding: 10px;
  color: #219482;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

header .header-overlay .container-header button {
  padding: 20px;
  margin: 10px;
  border: 1px solid #219482;
  color: #fff;
  background-color: #219482;
  font-size: 1.2rem;
  text-align: center;
}

/**************** medium device ****************/
@media screen and (max-width: 800px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/**************** colors ****************/
/**************** background-colors ****************/
/**************** fonts ****************/
/**************** assets ****************/
/**************** media queries ****************/
/**************** modal ****************/
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  /**************** modal-content ****************/
}

.modal:target {
  display: block;
}

.modal .modal-content {
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  background-color: #c9c9c9;
  width: 250px;
  height: auto;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  /**************** form-login ****************/
}

.modal .modal-content .form-login {
  color: #c9c9c9;
  background-color: rgba(67, 138, 196, 0.774);
}

.modal .modal-content .form-login legend {
  font-size: 1.5rem;
  text-align: center;
  margin: 5%;
  padding: 5%;
}

.modal .modal-content .form-login div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-content .form-login div label {
  margin: 0.3rem;
}

.modal .modal-content .form-login div input {
  margin: 1rem;
  font-size: 1.2rem;
}

.modal .modal-content .form-login .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal .modal-content .form-login .btn button {
  margin: auto;
  width: 33%;
  border: none;
  padding: 0.8rem;
  background-color: #3c57ec;
}

.modal .modal-content .form-login .btn button a {
  text-decoration: none;
  font-size: 1rem;
  color: #c9c9c9;
}

.modal .modal-content .form-login .inscription {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-content .form-login .inscription .btn-inscription {
  margin: 1rem auto;
  width: 75%;
  border: none;
  padding: 0.6rem;
  background-color: #ad6060;
  text-align: center;
}

.modal .modal-content .form-login .inscription .btn-inscription a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #c9c9c9;
}
/*# sourceMappingURL=main.css.map */