@import 'variables';

/**************** header ****************/
header {
    height: auto;
    
    .header-overlay {
        nav {
            background-color: rgb(1.9%, 1.9%, 1.9%);
            background-color: rgba(4, 4, 4, 0.6);
            padding: 0.5rem;
            ul {
                .home-icon{
                    color: rgb(84.3%, 84.3%, 84.3%); 
                    font-size: 2rem;
                } 
                .title {
                    padding: auto;
                    color: rgb(84.3%, 84.3%, 84.3%);
                    font-weight: 300;
                    font-size: $big-fs;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
}

/**************** dashbord ****************/
.dashboard-container {
    background-image: $bgc-img;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    /**************** container-overlay ****************/
    .container-overlay {
        display: flex;
        background-color: rgba(255, 255, 255, 0.83);
        height: 100vh;
        

        /**************** dashbord-menu****************/
        #dashboard {
            
            display: flex;
            flex-direction: column;
            background-color: #000;
            background-color: rgba(0, 0, 0, 0.2);
            a {
                text-decoration: none;
                color: #fff;
                margin: auto;
                padding: 1rem;
                background-color: rgb(16, 71, 77);
                border-radius: 25% 0;
                i {
                    font-size: 2rem;
                }
            }
        }
    }
    /**************** dashbord-contenu ****************/
    section {
        .courses {
            display: flex;
            flex-direction: column;
            h1 {}
            p {}
            .chart-box{
                
                width: 50%;
                height: 50%;
                canvas{
            
                }
            }
        }
    }
}