@import 'variables';

/* navigation */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    .menu-item{
        text-align: center;
        color: $color-default;
        background-color: $backgroundColor-default;
        padding: 1rem 3rem;
    }
}


/* header */
header {
    background-image: $backgroundImage;
    height: 75vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-overlay{
     background-color: rgba($color: #fff, $alpha: 0.5);
     height:100%;
     
        .container-header{
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        flex-flow: column wrap;

            .title{
                color: $color-title;
                font-weight: 700;
                font-size: $big-fs;
                text-align: center;
                
            }
            .sub-title{
                color: $color-title;
                font-weight: 300;
                font-size: $med-fs;
                text-align: center;
            }
            button{
                padding: 20px;
                border: 1px solid $backgroundColor-default;
                color: $color-default;
                background-color: $backgroundColor-default;
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}