/* Colors */
$color-default: #fff;
$color-title:rgb(13%, 58.1%, 50.9%);
$backgroundColor-default: rgb(13%, 58.1%, 50.9%);

$header-bgc: #000;

/* Fonts */
$fontFamily-default: 'ubuntu', sans-serif;
$big-fs: 3rem;
$med-fs: 2rem;

/* Assets */
$backgroundImage: url('/assets/images/learning.jpg');
